<p id="notice"><%= notice %></p> 
<section id="section1">
    <header></header>
    <center><h1 style='margin-top:-0.10cm' class='fuckyou'>the world's first intelligent marketplace for tickets</h1></center>
</section>
<section id="section2">
<center>
<div class="custom-links" style='margin-top: -0.20cm' color='white'>
<a href="/about/">About</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/sell/">Sell</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/blog/">Blog</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/contact/">Contact</a> 
</div>
</center>
<center>
<p class='fuckyoutoo' style='margin-top: 1cm'> 
boleto was founded by Justin, Qianyuan, Ali, and Francisco during their graduate studies 
at Columbia University in the City of New York.
<br>
<br>
Inspiration for boleto came from reflecting on the status quo in the secondary ticket sales 
market and realizing that inefficiencies have left so many consumers disappointed and frustrated. 
</p>
</center>