<p id="notice"><%= notice %></p> 
<section id="section1">
    <header></header>
    <center><h1 style='margin-top:-0.10cm' class='fuckyou'>boleto blog</h1></center>
</section>
<section id="section2">
<center>
<div class="custom-links" style='margin-top: -0.20cm' color='white'>
<a href="/about/">About</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/sell/">Sell</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/blog/">Blog</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/contact/">Contact</a> 
</div>
</center>
<center>
<p class='fuckyoutoo' style='margin-top: 1cm'> 
This section is still under construction. 
<br><br>
Feel free to check back in with us in the coming weeks to see what we're up to.
</p>
</center>