<p id="notice"><%= notice %></p> 
<header></header>
<center><h1 class='fuckyou' style="margin-top: -1cm">boletos</h1></center>

<div class="input-group" style="margin-top: 0cm">
  <input type="text" id="search_field" class="form-control" placeholder="Search for your event here">
  <span class="input-group-btn">
    <button class="btn btn-default" onclick=search() type="button">Go!</button>
  </span>
</div><!-- /input-group -->

<div>
<center>
<p class='fuckyou' style='margin-top: 1cm'>
Welcome to belotos! We're here to make buying and selling tickets to events less awful.
</p>
</center>
</div>

<br>

<%= link_to 'New Event', new_event_path %>

<script type="text/javascript">
  function search(){
    text = document.getElementById("search_field").value;
    //words = text.split(" ");

    window.location.assign("events/search?words="+text);
    //$.ajax({
    // type: "GET",
    //  url: "/events/search",
    //  data: {text:text}
    //});
  }
</script>