<p id="notice"><%= notice %></p> 
<header></header>
<center><h1 style='margin-top:-0.10cm' class='fuckyou'>the intelligent marketplace for tickets</h1></center>
<center>
<div class="custom-links" style='margin-top: -0.20cm' color='white'>
<a href="/About/">About</a>&nbsp;&nbsp;路&nbsp;&nbsp;
<a href="/Careers/">Careers</a>&nbsp;&nbsp;路&nbsp;&nbsp;
<a href="/Sell/">Sell</a>&nbsp;&nbsp;路&nbsp;&nbsp;
<a href="/blog/">Blog</a>&nbsp;&nbsp;路&nbsp;&nbsp;
<a href="/Contact/">Contact</a> 
</div>
</center>

<center> <form id="yourForm" style='margin-top: 0.25cm'>
	<input type="text" id="search_field" placeholder='Search for your event here' class='form-control-inline' submit=search()>
	<button class="btn btn-default" style = 'margin-left:-0.11cm;height:46px' onclick=search() type="button">Go!</button>
</form></center>


<div>
<p class='fuckyou' style='margin-top: 6.0cm; margin-left: 0.8cm'>
We're creating a better 
<br>
marketplace for buyers & sellers
</p>
</div>


<script type="text/javascript">
  function search(){
    text = document.getElementById("search_field").value;
    //words = text.split(" ");
    window.location.assign("events/search?words="+text);
    //$.ajax({
    // type: "GET",
    //  url: "/events/search",
    //  data: {text:text}
    //});
  }
</script>


</center>
</div>
<p style='margin-top: 10cm; margin-left: 0.5cm'>
<%= link_to 'Add your event here', new_event_path %>
</p>

<div id="graph-wrapper">
<div class="graph-info">
        <a href="javascript:void(0)" class="visitors">Visitors</a> 
        <a href="javascript:void(0)" class="returning">| Returning Visitors</a>
        <a href="#" id="bars"><span></span></a>
        <a href="#" id="lines" class="active"><span></span></a>
    </div>
<div class="graph-container">
<div id="graph-lines"></div>
<div id="graph-bars"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script>
$(document).ready(function () {
    // Graph scripts here
});
</script>