<p id="notice"><%= notice %></p> 
<section id="section1">
    <header></header>
    <center><h1 style='margin-top:-0.10cm' class='fuckyou'>Selling boletos</h1></center>
</section>
<section id="section2">
<center>
<div class="custom-links" style='margin-top: -0.20cm' color='white'>
<a href="/about/">About</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/sell/">Sell</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/blog/">Blog</a>&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="/contact/">Contact</a> 
</div>
</center>
<center>
<p class='fuckyoutoo' style='margin-top: 1cm'> 
Want to sell on boleto? It's super easy. All you have to do is sign up with your 
venmo account and you can immediately begin selling tickets!<br>
<br>
After a successful transaction with another customer, you will receive full payment within 
2 - 3 business days.
<br>
<br>
Questions?
<br>
Feel free to reach out to us at customer.support@boleto.com
</p>
</center>