<div class="container">
<center>
<table class='table'>
<thead>
	<tr>
		<th> </th>
		<th> </th>
	</tr>
</thead>
    <tbody>
      <tr>
        <td>Event</td>
        <td><%= @event.event_id %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= @event.status %> </td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td> <%= @event.description%>  </td>
      </tr>
   </tbody>
  </table>
  </center>
</div>
