<h1>Payment Success</h1>

	<table class='table'>
	  <thead>
	    <tr>
	      <th> Ticket ID </th>
	      <th> Seller ID </th>
	      <th> Price </th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
	        <td id="t_id"></td>
	        <td id="seller_id"></td>
	        <td id="price"></td>
	      </tr>
	  </tbody>
	</table>
    <button type="button" class="btn btn-default" onclick='window.location.replace("http://localhost:3000");'>Go Back</button>

<script type="text/javascript">

    document.getElementById("t_id").innerText=localStorage.getItem("t_id");
    document.getElementById("seller_id").innerText=localStorage.getItem("seller_id");
    document.getElementById("price").innerText=localStorage.getItem("price");
</script>




